.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
  background: #fff;
  overflow: hidden;
  transition: height 0.5s;
  padding: 0 100px;
  z-index: 9999;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.5s;
}
.header-active {
  height: 260px !important;
  box-shadow: 0px 12px 12px -17px rgba(0, 0, 0, 0.25);
}
.header-active::before {
  opacity: 1;
}
.logo {
  margin-top: 35px;
}
.nav {
  margin-left: 260px;
}
.gnb {
  display: flex;
  gap: 0 50px;
}
.gnb > li {
}
.gnb > li > a {
  display: block;
  line-height: 100px;
  font-size: 18px;
  color: #222;
  letter-spacing: -0.3px;
  font-weight: 500;
  font-family: "Noto Sans KR";
  white-space: nowrap;
  margin-bottom: 25px;
  text-align: center;
}
.submenu {
}
.submenu > li {
  display: flex;
  justify-content: center;
}
.submenu > li > a {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  color: #08151d;
  font-family: "Noto Sans KR";
  white-space: nowrap;
}
.submenu > li > a:hover {
  color: #999;
}
.side-wrap {
  padding: 18px;
  background: #f5f9ff;
  border-radius: 36px;
  margin-top: 20px;
}
.member {
  display: flex;
  justify-content: space-between;
  gap: 26px;
}
.member li {
}
.member li a {
  color: #7e7e7e;
  font-size: 13px;
  letter-spacing: -0.3px;
  font-weight: 700;
  font-family: "Noto Sans KR";
}
