$fontName: 'Noto Sans KR', sans-serif;
.info {
  background: #f5f9ff;
  .inner {
    padding: 60px 0;
    .info-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;
      .info-map {
        position: relative;
        .info-map-link {
          .info-map-title {
            display: block;
            padding-bottom: 20px;
            font: {
              size: 20px;
              weight: 700;
              family: $fontName;
            }
            i {
              float: right;
              font-size: 12px;
              line-height: 31px;
            }
          }
          .info-map-txt {
            position: relative;
            color: #888;
            z-index: 1;
            font: {
              size: 15px;
              family: $fontName;
            }
          }
          .info-map-img {
            position: absolute;
            top: 30px;
            right: 0;
          }
        }
      }
      .info-notice {
        margin-left: 40px;
        position: relative;
        &-title {
          display: block;
          padding-bottom: 20px;
          font: {
            size: 20px;
            weight: 700;
            family: $fontName;
          }
          i {
            float: right;
            font-size: 12px;
            line-height: 31px;
          }
        }
        &::before {
          content: '';
          width: 1px;
          height: 100%;
          position: absolute;
          top: 0px;
          left: -40px;
          background: #ddd;
        }
        &-list {
          position: relative;
          color: #888;
          z-index: 1;
          font: {
            size: 15px;
            family: $fontName;
          }
        }
      }
      .info-faq {
        background: #006aec url('../images/bn3_bg.png') no-repeat center;
        background-size: cover;
        font-size: 14px;
        padding: 35px 25px;
        border-radius: 20px;
        color: #fff;
        &-title {
          display: block;
          font: {
            size: 15px;
            weight: 500;
            family: $fontName;
          }
        }
        &-tel {
          position: relative;
          display: block;
          font: {
            size: 23px;
            weight: 700;
            family: $fontName;
          }
          .info-faq-link {
            font: {
              size: 14px;
              weight: 500;
              family: $fontName;
            }
            line-height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            color: #fff;
            padding: 5px 15px;
            border: 1px solid #fff;
            border-radius: 30px;
            i {
              font-size: 10px;
              padding-left: 10px;
            }
          }
        }
        &-mail {
          opacity: 0.4;
          font-family: $fontName;
          font-weight: 300;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .info {
    .inner {
      padding: 50px 10px;
      .info-wrap {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 20px;
        row-gap: 40px;
        .info-map {
          .info-map-link {
            .info-map-title {
            }
            .info-map-txt {
            }
          }
        }
        .info-notice {
          margin-left: 20px;
          &::before {
            left: -20px;
          }
        }
        .info-faq {
          grid-column: 1/3;
          .info-faq-link {
            font: {
              size: 14px;
            }
            line-height: 27px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            color: #fff;
            padding: 12px 38px;
            border: 1px solid #fff;
            border-radius: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .info {
    .inner {
      padding: 50px 10px;
      .info-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        .info-map {
          padding: 20px;
          background: #fff;
          border-radius: 20px;
          .info-map-link {
            .info-map-title {
              padding-bottom: 10px;
            }
            .info-map-txt {
            }
            .info-map-img {
              width: 100px;
              top: 65px;
              right: 20px;
            }
          }
        }
        .info-notice {
          background: #fff;
          border-radius: 20px;
          padding: 20px;
          margin-left: 0;
          .info-notice-title {
            padding-bottom: 10px;
          }
          &::before {
            display: none;
          }
        }
        .info-faq {
          grid-column: auto;
          .info-faq-link {
            font-size: 12px;
          }
        }
      }
    }
  }
}
